{
    "parser": "@typescript-eslint/parser",
    "plugins": ["@typescript-eslint", "react-hooks", "simple-import-sort"],
    "extends": [
        "plugin:react/recommended",
        "plugin:@typescript-eslint/recommended",
        "plugin:prettier/recommended",
        "plugin:cypress/recommended"
    ],
    "rules": {
        "prettier/prettier": "error",
        "no-unused-vars": "warn",
        "curly": "error",
        "no-extra-boolean-cast": "error",
        "react/react-in-jsx-scope": "off",
        "@typescript-eslint/no-empty-function": "warn"
    },
    "ignorePatterns": ["app/"]
}
